// Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$yellow: #c28b00;
$green: #618C7B;
$green2: #407a57;
$blue: #0076D3;




// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;
